@model List<NewDto>


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Haber Yönetimi /</span> Haberler
    </h4>
    <div class="card">
        <div class="table-responsive text-nowrap m-5">

            <a class="btn btn-success mb-3" asp-area="Admin" asp-controller="New" asp-action="Add">
                Haber Ekle <i class="bx bx-plus"></i>
            </a>

            <table class="table table-bordered" id="newsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var article in Model)
                    {
                        <tr name="@article.NewID">
                            <td>@article.Title</td>
                            <td>@article.Category.Name</td>
                            <td>@article.CreatedDate.ToShortDateString()</td>
                            <td>@article.CreatedBy</td>
                            <td>@(article.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>

                                <a class="btn btn-primary btn-sm" data-id="@article.NewID" asp-area="Admin" asp-controller="New" asp-action="Update" asp-route-newId="@article.NewID"><i class="bx bxs-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@article.NewID" asp-area="Admin" asp-controller="New" asp-action="Delete" asp-route-newId="@article.NewID"><i class="bx bx-minus-circle"></i></a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->




</div>

@section Scripts {
    <script src="~/js/newIndex.js" type="application/ecmascript"></script>
}


