@model ArticleDto


<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/images/@Model.Image.FileName" alt="">
                                </div>
                                <div class="down-content">
                                    <a href="#"><h4>@Model.Title</h4></a>
                                    <ul class="post-info">
                                        <li>@Model.User.FirstName @Model.User.LastName</li>
                                        <li>@Model.CreatedDate.ToString("dd/MM/yyyy")</li>
                                        <li><i class="fa-solid fa-eye"></i> @Model.ViewCount</li>
                                    </ul>
                                    <p>@Html.Raw(Model.Content)</p>

                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">@Model.Category.Name</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script> *@
    <script>
        debugger;
        var contentDetailId = "@TempData["contentDetailId"]";
        document.addEventListener("DOMContentLoaded", function () {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("/signalrHub") // SignalR hub'ının adresi
                .build();

            connection.start().then(function () {
                console.log("SignalR bağlantısı başarıyla kuruldu.");

                // Bağlantı başarıyla kurulduktan sonra yapılacak işlemler buraya eklenir
            }).catch(function (err) {
                return console.error(err.toString());
            });

            // Hub'dan mesaj alındığında
            connection.on("ReceiveClosePage", function (receivedContentDetailId) {
                console.log("Sayfa kapatıldı:", value);

                // Sayfa kapatıldığında yapılacak işlemler buraya eklenir
            });

            window.addEventListener('beforeunload', function (event) {
                // Sayfa kapatılmadan önce SignalR hub'ına mesaj gönder
                connection.invoke("SendClosePage", contentDetailId).catch(err => console.error(err));
            });
        });
    </script>
}
